.wd-quizzes {
    border-radius: 0%;
    margin: 5px;
    list-style: none;
    margin-bottom: 20px;
    font-size: 13px;
}

.wd-quizzes .title {
    background-color: whitesmoke;
    border: 1px solid whitesmoke !important;
    border-left: none !important;
    padding: 0px;
    font-weight: bold;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: black;
}

.wd-quizzes .quiz-title {
    font-size: 16px;
    font-weight: 600;
}

.wd-quizzes .subtitle {
    font-weight: 600;
    color: gray;
}

.wd-quizzes .quiz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wd-quizzes .icon {
    padding-left: 10px;
    padding-right: 10px;
}

.wd-quizzes > li > ul {
    border-left: 3px solid green;
}

.wd-quizzes a {
    text-decoration: none;
    color: black;
}

.form {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

.wd-quiz {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    list-style: none;
    margin-bottom: 15px;
}

.wd-quiz .title {
    background-color: whitesmoke;
    border: 1px solid whitesmoke !important;
    border-radius: 5px;
    border-left: none !important;
    padding: 2px;
    font-weight: bold;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.wd-quiz .question {
 margin-left: 20px;   
 font-size: 16px;
 margin-bottom: 5px;
}

.wd-quiz .answers {
    margin-left: 20px;
    list-style:none;
    font-size: 14px;
}

.wd-quiz .answer {
    font-weight: bold;
}

.wd-question-editor {
    border: 1px solid lightgray;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}